{{!-- <div class="shop-info-mini">
    <div class="shop-img-container" style="background: url({{image}}) center / contain no-repeat">
        <a href="/shops/{{_id}}" class="btn-shop-details no-opacity">See details</a>
    </div>
</div> --}}

<div class="shop-info-mini">
    <div class="shop-img-container" style="background: url({{image}}) center / contain no-repeat">
    </div>
    <div class="slider">
        <p class="shop-name-mini">{{this.name}}</p>
        <a href="/shops/{{_id}}" class="btn-shop-details">See shop details</a>
    </div>
</div>