<a href="/shops/{{_id}}">
<div class="shop-info-header">
    {{!-- <h1 class="shop-name">{{name}}</h1>
    <p class="shop-description">{{description}}</p> --}}

    <img class="shop-image" src="{{image}}" alt="{{name}}">
    <a class="button-primary" href="#">See this shop</a>
</div>
</a>