<a href="/shops/{{this._id}}">
    <div class="shop-img">
        <img src="{{this.image}}" alt="{{this.name}}">
    </div>
    <p class="shop-name">{{this.name}}</p>
    <p class="shop-description">{{this.description}}</p>
    <a href="/shops/{{this._id}}">See this shop</a>
</a>