
<div class="one-product-container">
    <div class="product-info">
        <div class="product-info-header">
            <h1 class="product-name">{{product.name}}</h1>
            <p class="product-description">{{product.description}}</p>
            <p class="product-price">{{product.price}}€</p>
        </div>
    </div>
    <div class="flexed-item">
        <select name="main-category" id="main_category" class="select product-select">
            <option value="">Choose Size</option>
            {{#each product.sizesAvailable}}
            <option value="">{{this}}</option>
            {{/each}}
        </select>
        <a href="" class="button-primary a-link">Add to cart <i
                class="fas fa-shopping-cart shop-cart-icon-page"></i></a>
    </div>

    <div class="product-img-container">
        <img src="{{product.image}}" alt="img-product" class="product-img">
    </div>

</div>