<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">Manage my shop</h1>
    <div class="line"></div>
</div>

<div class="detailled-content-wrapper">
    <img src="{{shop.image}}" alt="img-product" class="detailled-img">
    <div class="detailled-info-shop-wrapper">
        <div class="flexed-item">
            <h1 class="product-name">{{shop.name}}</h1>
            <a href="/user/favorites/{{shop._id}}" class="like-btn">
                <i class="far fa-heart fa-2x"></i>
            </a>
        </div>
        <p class="product-description">{{shop.description}}</p>
        <p>Number of views: {{shop.view}}</p>
        <p>Total sales: {{shop.totalSales}}</p>
        {{!-- <p>Creation date: {{shop.creationDate}}</p> --}}
        <a href="/shops/update" class="btn-shop-update">Update my shop information</a>
        <a href="/shops/delete" class="btn-shop-delete">Delete my shop</a>
    </div>
</div>



{{> products_dashboard shop.products}}