<h2>Manage my shop</h2>

<div>
    <img src="{{image}}" alt="Shop image">
    <div>
        <h3>About my shop</h3>
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <p>Number of views: {{view}}</p>
        <p>Total sales: {{totalSales}}</p>
        <p>Creation date: {{creationDate}}</p>
    </div>
</div>

{{> products_dashboard products}}